    <div class="collapse navbar-collapse" id="main-nav">
      <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
      <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      
     <li class="nav-item dropdown">
          <a class="nav-link mr-5" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Buy Wines
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">By Type</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?colour=Red">Red Wine</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?colour=White">White Wine</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?colour=Rose">Rose Wine</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">By Country</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?product=France">France</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?country=Italy">Italy</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?country=Chile">Chile</a></li>
              </ul>
            </li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">By Style</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'products' %}?style=Crisp_Zesty">Crisp &amp; Zesty</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?style=Ripe_Rounded">Ripe &amp; Rounded</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?style=Smooth_Mellow">Smooth &amp; Mellow</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">By Grape</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'products' %}?grape=Sauvignon_Blanc">Sauvignon Blanc</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?grape=Chardonnay">Chardonnay</a></li>
                  <li><a class="dropdown-item" href="{% url 'products' %}?grape=Pinot_Noir">Pinot Noir</a></li>
                </ul>
              </li>

          </ul>
        </li>

        <li class="nav-item mr-5">
            <a class="nav-link" href="#">Champagne</a>
          </li>

          <li class="nav-item mr-5">
            <a class="nav-link" href="#">Wine Gifts</a>
          </li>

      </ul>
    </div>
  <!-- </nav> -->


  <script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });


  return false;
});
  </script>