<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="buy-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buy Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="buy-wines-link">
                <a href="" ?sort=price&direction=asc" class="dropdown-item">By Type</a>
                <a href="" ?sort=price&direction=asc" class="dropdown-item">By Country</a>
                <a href="" ?sort=price&direction=asc" class="dropdown-item">By Style</a>
                <a href="" ?sort=price&direction=asc" class="dropdown-item">By Grape</a>
                <a href="" class="dropdown-item">All Wines</a>
            </div>
        </li>



        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="buy-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Champagne
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="buy-wines-link">
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="buy-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wine Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="buy-wines-link">
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

    </ul>
</div>